.layout__container {
  display: flex;
  flex-direction: column;
}

.layout__toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--toolbar-height); /* Altura dinámica basada en la variable */
  z-index: 2; /* Siempre encima de otros elementos */
  background-color: #fff; /* Ejemplo de color de fondo */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra opcional */
}

.layout__sidenav {
  display: flex;
  flex: 1; /* Ocupa todo el espacio restante */
  overflow: hidden; /* Controla el desbordamiento */
}
