.rickdex-detail-location-card {
  width: 100%;

  &-header {
    &-title {
      font-weight: bold;
      font-size: 1.25rem;

      &-text {
        color: inherit;
        cursor: pointer;
        text-decoration: none;
      }

      &-text:hover {
        color: #b03dc4;
      }
    }

    &-subtitle {
      display: flex;
      gap: 0.4rem;
      margin-top: 1rem;
      &-icon {
        width: 1.25rem;
        height: 1.25rem;
        font-size: 1.25rem;
      }
      &-text {
      }
    }
  }

  &-content {
    padding-top: 20px;

    &-characters {
      display: grid;
      grid-template-columns: repeat(6, minmax(0, 1fr)); // 6 columnas por defecto
      gap: 1.25rem;

      @media (max-width: 1200px) {
        grid-template-columns: repeat(4, minmax(0, 1fr)); // 4 columnas en pantallas medianas
      }

      @media (max-width: 768px) {
        grid-template-columns: repeat(2, minmax(0, 1fr)); // 2 columnas en pantallas pequeñas
      }

      @media (max-width: 480px) {
        grid-template-columns: repeat(1, minmax(0, 1fr)); // 1 columna en móviles
      }

      &-character {
        width: 100%;
        max-width: 200px;
      }
    }
  }
}
