.nav-item-container {
  margin-left: 4%;
  margin-right: 4%;
}

.expandable-item {
  cursor: pointer;
  font-weight: bold;
  margin-left: 1rem;
  width: 90%;
}

.expand-item-title {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  margin-bottom: 1px;
}
