<mat-nav-list class="nav-item-container">
  @for (item of navigationItems; track item; let idx = $index) {
    <!-- Item principal con subitems -->
    @if (item?.subItems?.length) {
      <a mat-list-item class="nav-item">
        <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
        <span matListItemTitle class="expand-item-title" sharedNoSelectText>
          {{ item.label }}
          <!-- <mat-icon>{{ isExpanded(idx) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon> -->
        </span>
      </a>

      <!-- Subitems anidados -->
      @for (subItem of item.subItems; track subItem) {
        <a mat-list-item class="nav-item expandable-item">
          <span matListItemTitle>{{ subItem.label }}</span>
        </a>
      }
    } @else {
      <a mat-list-item class="nav-item" (click)="handleNavigation(item)">
        <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
        <span matListItemTitle sharedNoSelectText>{{ item.label }}</span>
      </a>
    }
  }
</mat-nav-list>
