<mat-nav-list class="nav-item-container">
  @for (secondaryItem of secondaryItems; track secondaryItem) {
    <!-- Item principal con subitems -->
    @if (secondaryItem?.subItems?.length) {
      <a mat-list-item sharedNoSelectText class="nav-item" (click)="handleSecondaryNavigation(secondaryItem)">
        <span matListItemTitle sharedNoSelectText class="expand-item-title">
          {{ secondaryItem.label }}
          <mat-icon>
            {{ selectedSecondaryItem === secondaryItem ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
          </mat-icon>
        </span>
      </a>

      @if (selectedSecondaryItem === secondaryItem) {
        <!-- Subitems anidados -->
        @for (tertiaryItem of secondaryItem.subItems; track tertiaryItem) {
          <a
            mat-list-item
            sharedNoSelectText
            class="nav-item expandable-item"
            (click)="handleTertiarityNavigation(tertiaryItem)"
          >
            <span matListItemTitle>{{ tertiaryItem.label }}</span>
          </a>
        }
      }
    } @else {
      <a mat-list-item sharedNoSelectText class="nav-item" (click)="handleSecondaryNavigation(secondaryItem)">
        <span matListItemTitle>{{ secondaryItem.label }}</span>
      </a>
    }
  }
</mat-nav-list>
