.sidenav {
  display: flex;

  &__container {
    display: flex;
    flex: 1;
    height: 100vh; /* Hace que el contenedor ocupe toda la altura de la ventana */
  }

  &__sidenav {
    height: 100%; /* Asegura que el sidenav ocupe toda la altura */
  }

  &__navigation {
    padding: 16px; /* Espaciado interno del sidenav */
  }

  &__content {
    display: flex;
    flex: 1; /* Hace que el contenido ocupe el espacio restante */
    padding: 1rem;
    width: 100%;
    overflow: auto; /* Permite scroll si el contenido es mayor que la altura disponible */
  }
}
