@use '@angular/material' as mat;
@use 'sass:math';
@use 'sass:map';

// Paletas de colores
$palettes: (
  red: mat.$red-palette,
  green: mat.$green-palette,
  blue: mat.$blue-palette,
  yellow: mat.$yellow-palette,
  cyan: mat.$cyan-palette,
  magenta: mat.$magenta-palette,
  orange: mat.$orange-palette,
  chartreuse: mat.$chartreuse-palette,
  spring-green: mat.$spring-green-palette,
  azure: mat.$azure-palette,
  violet: mat.$violet-palette,
  rose: mat.$rose-palette,
);

// Configuración de densidad
$density-config: -2;

$light-themes: (
  'azure-blue': (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  'red-cyan': (
    primary: mat.$red-palette,
    tertiary: mat.$cyan-palette,
  ),
  'green-magenta': (
    primary: mat.$green-palette,
    tertiary: mat.$magenta-palette,
  ),
  'blue-orange': (
    primary: mat.$blue-palette,
    tertiary: mat.$orange-palette,
  ),
  'yellow-violet': (
    primary: mat.$yellow-palette,
    tertiary: mat.$violet-palette,
  ),
  'chartreuse-spring-green': (
    primary: mat.$chartreuse-palette,
    tertiary: mat.$spring-green-palette,
  ),
);

$dark-themes: (
  'cyan-orange': (
    primary: mat.$cyan-palette,
    tertiary: mat.$orange-palette,
  ),
  'magenta-chartreuse': (
    primary: mat.$magenta-palette,
    tertiary: mat.$chartreuse-palette,
  ),
  'rose-yellow': (
    primary: mat.$rose-palette,
    tertiary: mat.$yellow-palette,
  ),
  'violet-azure': (
    primary: mat.$violet-palette,
    tertiary: mat.$azure-palette,
  ),
  'spring-green-blue': (
    primary: mat.$spring-green-palette,
    tertiary: mat.$blue-palette,
  ),
  'orange-red': (
    primary: mat.$orange-palette,
    tertiary: mat.$red-palette,
  ),
);

// Overrides comunes
@mixin common-overrides() {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-primary),
    )
  );

  @include mat.sidenav-overrides(
    (
      container-divider-color: var(--mat-sys-outline-variant),
      container-width: 300px,
    )
  );
}

@mixin dynamic-theme() {
  html {
    color-scheme: light dark;

    // Generar temas claros
    @each $name, $theme in $light-themes {
      .#{$name}-light-theme {
        @include mat.theme(
          (
            color: (
              theme-type: light,
              primary: map.get($theme, primary),
              tertiary: map.get($theme, tertiary),
            ),
            typography: 'Noto Sans',
            density: $density-config,
          )
        );

        @include common-overrides();
      }
    }
  }

  // Generar temas oscuros
  @each $name, $theme in $dark-themes {
    .#{$name}-dark-theme {
      @include mat.theme(
        (
          color: (
            theme-type: dark,
            primary: map.get($theme, primary),
            tertiary: map.get($theme, tertiary),
          ),
          typography: 'Noto Sans',
          density: $density-config,
        )
      );

      @include common-overrides();
    }
  }
}
