<mat-nav-list class="nav-item-container">
  @for (item of items; track item; let idx = $index) {
    <!-- Item principal con subitems -->
    @if (item?.subItems?.length) {
      @if (isMobile) {
        <a mat-list-item class="nav-item" (click)="toggleSubItems(idx)">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle class="expand-item-title" sharedNoSelectText>
            {{ item.label }}
            <mat-icon>{{ isExpanded(idx) ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}</mat-icon>
          </span>
        </a>
      }
      <!-- Subitems anidados -->
      @for (subItem of item.subItems; track subItem) {
        <a mat-list-item class="nav-item expandable-item" [routerLink]="subItem.route">
          <span matListItemTitle>{{ subItem.label }}</span>
        </a>
      }
    } @else if (isMobile) {
      <a mat-list-item class="nav-item" [routerLink]="item.route">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  }
</mat-nav-list>
