.vertical-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100px;
  z-index: 8;
  background-color: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface);
  align-items: center;

  &__navigation-buttons {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
    &__button {
    }
  }

  &__last-buttons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    gap: 5px;
  }
}

.border-right {
  border-right: solid 1px #8080802a;
}
