.rickdex-characters-list {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.rickdex-characters-list-items {
  width: 200px;
  margin: 0 0 1rem 0;
}
