@use '@angular/material' as mat;
@use 'styles/dynamic-theme' as theme;

$red-palette: mat.$red-palette;
$green-palette: mat.$green-palette;
$blue-palette: mat.$blue-palette;
$yellow-palette: mat.$yellow-palette;
$cyan-palette: mat.$cyan-palette;
$magenta-palette: mat.$magenta-palette;
$orange-palette: mat.$orange-palette;
$chartreuse-palette: mat.$chartreuse-palette;
$spring-green-palette: mat.$spring-green-palette;
$azure-palette: mat.$azure-palette;
$violet-palette: mat.$violet-palette;
$rose-palette: mat.$rose-palette;

@include theme.dynamic-theme($violet-palette, $magenta-palette);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
