@use '@angular/material' as mat;
@use 'styles/dynamic-theme' as theme;

@include theme.dynamic-theme();

html,
body {
  --toolbar-height: 48.4px;
  height: 100%;
  margin: 0;
  font-family: 'Noto Sans';
}
